@{
    ViewBag.Title = "About Me";
}

<div id="main" class="container body-content">

    <img src="~/Content/Images/Thumbnail.png" />

    <p class="text-center">
        Versatile and driven programmer with experience across the full web and application software
        development stack. Competent in several programming languages including C#, Java, C++, PHP,
        JavaScript. Experience working with relational and Non-Relational DBMS (SQL Server, MySQL,
        MongoDB). Experience providing second and third line support to customers across multiple
        specialities from US Healthcare, financial providers, to local government both in the UK and US.
        I am looking to put the skills I have developed but as a support engineer and as a junior developer to
        use in a new, challenging environment. Currently I work as part of a small agile team, helping to
        define user stories and determine acceptance criteria, and working to ensure we maintain our high
        velocity.
    </p>

    <a href="http://www.mathewbarnard.co.uk/Mathew%20Barnard%20-%20CV2017.pdf">View my CV!</a>

</div>