@model IEnumerable<MoviesTutorial.Models.Card>

@{
    ViewBag.Title = "Search";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>     

<h2>Search</h2>

@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "refreshWithResults", UpdateTargetId = "searchResults", InsertionMode = InsertionMode.Replace, Url = Url.Action("GetSearchResults", "Cards"), HttpMethod = "POST" })) {
    <input type="text" name="searchTerm" />
    <input type="submit" />
}
@Html.Partial("~/Views/Cards/SearchResult.cshtml")

@Scripts.Render("~/Scripts/DeckBuilder.js")